@import "nav/nav";
.header {
  font-size: 1rem;
  height: em(61px);
  &__container {
    padding: em(8px) 0;
  }
  // .header__wrapper
  &__wrapper {
    justify-content: space-between;
    align-items: flex-end;
  }
  // .header__logo
  &__logo {
    font-size: rem(16px);
    line-height: em(20.99px, 16px);
  }
}
