.container {
  max-width: width($container-width);
  height: 100%;
  margin: 0 auto;
  padding: 0;
  &_bg-color {
    background-color: $dark-thin;
    padding: em(37px) 0;
  }
}

.wrapper {
  display: flex;
  height: 100%;
}

.section {
  // padding: vw(37px) 0;
}
