.container {
  max-width: width($container-width);
  height: 100%;
  margin: 0 auto;
  padding: 0;
  &_bg-color {
    background-color: $dark-thin;
  }
}

.wrapper {
  display: flex;
  height: 100%;
}

.section {
  padding: vw(45px) 0;
}
