//********************* Import main files ****************************************************************
@import "fonts";
@import "functions";
@import "variables";
@import "mixins";
@import "normalizer";
@import "grid";

//^ =============================== Global style ===============================
html {
  font-size: $root-font-size;
}
body {
  font-weight: $main-weight;
  font-size: rem($main-font-size);
  color: $main-color;
  background-color: $background-color;
  * {
    font-family: $main-font;
  }
}

h1,
h2 {
  font-size: rem($title-size);
  font-weight: 500;
  line-height: em(41px, $title-size);
  color: $white;
}
h3 {
  font-size: rem(24px);
  font-weight: 500;
  line-height: em(31px, 24px);
  color: $white;
}
h4 {
  font-size: rem(16px);
  font-weight: 600;
  line-height: em(21px, 16px);
  color: $white;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Blocks ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 700;
}
.hashtag {
  &::before {
    content: "#";
    color: $accent-color;
    font-size: 1em;
    line-height: 0;
    margin-right: vw(3px);
  }
}
.slash {
  &::before {
    content: "/";
    color: $accent-color;
    font-size: 1em;
    line-height: 0;
    margin-right: vw(3px);
  }
}

.btn {
  font-size: rem(16px);
  padding: em(8px, 16px) 1em;
  color: $white;
  font-weight: 500;
  line-height: em(21px, 16px);
  border: em(1px, 16px) solid $accent-color;
  display: flex;
  align-items: center;
  max-width: vw(300px);
  overflow-wrap: anywhere;
  gap: em(10px, 16px);
  &:hover {
    background-color: #c778dd33;
  }
  &_gray {
    border-color: $gray;
    color: $gray;
    &:hover {
      background-color: #abb2bf33;
    }
  }
}

.section-title {
  font-size: rem(32px);
  color: $white;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: em(1px, 32px);
    background-color: $accent-color;
    position: absolute;
    top: 50%;
    left: 110%;
    width: vw(512px);
  }
}

.technologies {
  margin: 0;
  font-size: rem(16px);
  border-top: em(1px, 16px) solid $gray;
  // text-transform: uppercase;
  padding: em(8px, 16px);
  line-height: em(32px, 16px);
}

// ~~~~~~~~~~~~~~~~~~~ Import other components ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@import "../components/header/header";
@import "../components/hero/hero";
@import "../components/quote/quote";
@import "../components/projects/projects";
@import "../components/skills/skills";
@import "../components/about/about";
@import "../components/contacts/contacts";
@import "../components/footer/footer";
