<section class="section skills">
  <div class="container">
    <h2 class="section-title hashtag skills__title">skills</h2>
    <div class="wrapper skills__wrapper">
      <div class="skills__decorations"></div>

      <div class="skills__items skills-items">
        <div class="wrapper skills-items__wrapper">
          <div class="skills-items__column">
            <article class="skills-item">
              <h4 class="skills-item__title">Languages</h4>
              <p class="technologies skills-item__technologies">
                Typescript Lua Python Javascript
              </p>
            </article>
          </div>
          <!-- /column -->
          <div class="skills-items__column">
            <article class="skills-item">
              <h4 class="skills-item__title">Databases</h4>
              <p class="technologies skills-item__technologies">
                Typescript Lua Python Javascript
              </p>
            </article>
            <article class="skills-item">
              <h4 class="skills-item__title">Other</h4>
              <p class="technologies skills-item__technologies">
                Typescript Lua Python Javascript
              </p>
            </article>
          </div>
          <!-- /column -->
          <div class="skills-items__column">
            <article class="skills-item">
              <h4 class="skills-item__title">Tools</h4>
              <p class="technologies skills-item__technologies">
                Typescript Lua Python Javascript Typescript Lua Python
              </p>
            </article>
            <article class="skills-item">
              <h4 class="skills-item__title">Frameworks</h4>
              <p class="technologies skills-item__technologies">
                Typescript Lua Python
              </p>
            </article>
          </div>
          <!-- /column -->
        </div>
        <!-- /row -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.section skills -->
