<section class="section hero">
  <div class="container">
    <div class="wrapper hero__wrapper">
      <div class="hero__content hero-content">
        <h1 class="hero-content__title">
          Elias is a
          <span class="hero-content__title_color">web designer</span> and
          <span class="hero-content__title_color">front-end developer</span>
        </h1>
        <!-- /.hero-content__title -->
        <p class="hero-content__paragraph">
          He crafts responsive websites where technologies meet creativity
        </p>
        <button class="btn">Contact me!!</button>
      </div>
      <!-- /.hero__content hero-content -->

      <div class="hero__view hero-view">
        <img src="@img/header/logo.svg" alt="" class="hero-view__bg-logo" />
        <img src="@img/header/me.png" alt="#error" class="hero-view__img" />
        <div class="hero-view__status">
          <div class="hero-view__square"></div>
          <span class="hero-view__text"
            >Currently working on
            <span class="hero-view__text_color">Portfolio</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
