<nav class="nav">
  <ul class="nav__list nav-list">
    <li class="nav-list__item">
      <a href="#" class="nav-list__link hashtag">home</a>
    </li>
    <li class="nav-list__item">
      <a href="#" class="nav-list__link hashtag">works</a>
    </li>
    <li class="nav-list__item">
      <a href="#" class="nav-list__link hashtag">about-me</a>
    </li>
    <li class="nav-list__item">
      <a href="#" class="nav-list__link hashtag">contacts</a>
    </li>
  </ul>
  <select
    name="languages"
    id="languages"
    class="nav-list__lang-select lang-select"
  >
    <option value="Romanian" class="lang-select__option">RO</option>
    <option value="English" class="lang-select__option">EN</option>
    <option value="Russian" class="lang-select__option">RU</option>
  </select>
</nav>
