<footer class="footer">
  <div class="container container_bg-color">
    <div class="wrapper footer__wrapper">
      <div class="footer__content footer-content">
        <div class="wrapper footer-content__wrapper">
          <a href="/" class="logo footer__logo">
            <i class="icon-logo"></i>
            Elias
          </a>
          <a href="mailto:ifoy.marcu@gmail.com" class="footer__mail">
            ifoy.marcu@gmail.com
          </a>
        </div>
        <p class="footer__paragraph">
          Web designer and front-end developer based in Ukraine
        </p>
      </div>
      <!-- /.footer-content -->

      <div class="footer__media footer-media">
        <h4 class="footer-media__title">Media</h4>
        <div class="wrapper footer-media__wrapper">
          <a href="@" class="footer-media__link">
            <i class="icon-figma"></i>
          </a>
          <a href="#" class="footer-media__link">
            <i class="icon-github"></i>
          </a>
          <a href="#" class="footer-media__link">
            <i class="icon-twitter"></i>
          </a>
        </div>
      </div>
      <!-- /.footer-media -->
    </div>
    <!-- /.wrapper footer__wrapper -->
    <div class="footer__copyright">© Copyright 2022. Made by Elias</div>
  </div>
</footer>
