<section class="section about">
  <div class="container container_bg-color">
    <h2 class="section-title about__title hashtag">about me</h2>
    <div class="wrapper about__wrapper">
      <div class="about__content about-content">
        <p class="about-content__paragraph">Hello, i’m Elias!</p>
        <p class="about-content__paragraph">
          I’m a self-taught front-end developer based in Kyiv, Ukraine. I can
          develop responsive websites from scratch and raise them into modern
          user-friendly web experiences.
        </p>
        <p class="about-content__paragraph">
          Transforming my creativity and knowledge into a websites has been my
          passion for over a year. I have been helping various clients to
          establish their presence online. I always strive to learn about the
          newest technologies and frameworks.
        </p>
        <button class="btn">Read more <i class="icon-arrow-right"></i></button>
      </div>
      <img src="@img/about/me.png" alt="" class="about__img" />
    </div>
  </div>
</section>
<!-- /.section about -->
