<section class="section projects">
  <div class="projects__header wrapper">
    <h2 class="section-title hashtag">projects</h2>
    <a href="#" class="projects__view-all">
      View all
      <i class="icon-arrow-right-custom"></i>
    </a>
  </div>
  <div class="projects__list projects-list">
    <article class="projects-list__item projects-item">
      <div class="wrapper projects-item__wrapper">
        <div class="projects-item__header"></div>
        <p class="technologies projects-item__technologies">
          HTML SCSS Python Flask
        </p>
        <div class="projects-item__body">
          <h3 class="projects-item__title">ChertNodes</h3>
          <p class="projects-item__description">Minecraft servers hosting</p>
          <div class="projects-item__btns">
            <button class="btn">
              Live
              <i class="icon-arrow-double"></i>
            </button>
            <button class="btn btn_gray">
              Cached
              <i class="icon-arrow-underline-right"></i>
            </button>
          </div>
        </div>
      </div>
    </article>
    <article class="projects-list__item projects-item">
      <div class="wrapper projects-item__wrapper">
        <div class="projects-item__header"></div>
        <p class="technologies projects-item__technologies">
          React Express Discrod.js Node.js HTML SCSS Python Flask
        </p>
        <div class="projects-item__body">
          <h3 class="projects-item__title">ProtectX</h3>
          <p class="projects-item__description">Discord anti-crash bot</p>
          <div class="projects-item__btns">
            <button class="btn">
              Live
              <i class="icon-arrow-double"></i>
            </button>
          </div>
        </div>
      </div>
    </article>
    <article class="projects-list__item projects-item">
      <div class="wrapper projects-item__wrapper">
        <div class="projects-item__header"></div>
        <p class="technologies projects-item__technologies">
          React Express Discrod.js Node.js HTML SCSS Python Flask
        </p>
        <div class="projects-item__body">
          <h3 class="projects-item__title">Kahoot Answers Viewer</h3>
          <p class="projects-item__description">
            Get answers to your kahoot quiz
          </p>
          <div class="projects-item__btns">
            <button class="btn">
              Live
              <i class="icon-arrow-double"></i>
            </button>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<!-- /.section projects -->
