<section class="section contacts">
  <div class="container container_bg-color">
    <h2 class="section-title contacts__title hashtag">contacts</h2>
    <div class="wrapper contacts__wrapper">
      <p class="contacts__text">
        I’m interested in freelance opportunities. However, if you have other
        request or question, don’t hesitate to contact me
      </p>
      <div class="contacts__cards">
        <article class="contacts-card">
          <h4 class="contacts-card__title">Message me here</h4>
          <a href="/" class="contacts-card__link">
            <i class="icon-telegram"></i>
            @wishyoutomorrow
          </a>
          <a href="/" class="contacts-card__link">
            <i class="icon-mail"></i>
            ifoy.marcu@gmail.com
          </a>
        </article>
        <article class="contacts-card">
          <h4 class="contacts-card__title">Support me here</h4>
          <a href="/" class="contacts-card__link">
            <i class="icon-card"></i>
            4149500120690030
          </a>
          <a href="/" class="contacts-card__link">
            <i class="icon-bitcoin"></i>
            3E8ociqZa9mZUSwGdSmAEMAoAxBK3FNDcd
          </a>
        </article>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.section contacts -->
